/***********************************************************************
 * LAYOUT.CSS
 * by blueshome, alessandro[@]mikamai.com
 *
 * base layout definitions
 * and html standard tags settings
***********************************************************************/

/***********************************************************************
 * Html tags
***********************************************************************/
body {
  text-align: center;
}

/***********************************************************************
 * Classes
***********************************************************************/
.relative {
  position: relative;
}
  .clear {
  clear: both;
}

/***********************************************************************
 * Layout masters elements
***********************************************************************/
#container {
  margin:0 auto;
  position: relative;
  text-align: left;
  width:960px;
}
#header {
  background: url(images/header-bgk.jpg) no-repeat left bottom;
  height: 13em;
  position: relative;
  width:960px;
}
#summary {
  background: url(images/pages-summary-bgk.png) no-repeat left top;
  height: 155px;
  margin-bottom: 1px;
  width:960px;
}
#wrapper {
  float:left;
  width:100%;
}
#content {
  margin: 0 240px 0 240px;
}
#left_content {
  float: left;
  margin: 0 0 0 -960px;
  width: 240px;
}
#right_content {
  float: left;
  margin: 0 0 0 -240px;
  padding-top: 0.8em;
  width: 240px;
}
#footer {
  clear: left;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}

/***********************************************************************
 * Layout masters elements HOME VARIANT
***********************************************************************/
#home #summary {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: 0 0;
  height: 270px;
}
#home #content {
  margin: 0 220px 0 300px;
}
#home #left_content {
  float: left;
  margin: 0 0 0 -960px;
  width: 300px;
}
#home #right_content {
  float: left;
  margin: 0 0 0 -220px;
  width: 220px;
}

/***********************************************************************
 * Header > Logo
***********************************************************************/
#logo {
  background: url(images/ayjoy.png) no-repeat center bottom;
  left: 30px;
  position: absolute;
  top: 2.8em;
  z-index: 100;
  }
#logo h1 {
  height: 79px;
  width: 381px;
  }
#logo h1 a {
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  text-indent: -9999px;
  width: 170px;
  }
#loguot {
  left: 890px;
  position: absolute;
  top: 0.7em;
  z-index: 110;
  }
/***********************************************************************
 * Header > Login area area
***********************************************************************/
#block-user-0 {
  padding-top: 3em;
  position: absolute;
  right: 30px;
  top: 1em;
}
#block-user-0 h2 {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: right;
}
#block-user-0 .form-item, #block-user-0 .form-submit {
  float: left;
  margin: 0;
}
#block-user-0 .form-item {
  margin-right: 0.8em;
}
#block-user-0 .form-item input {
  border: 1px solid #999;
  padding: 2px 0 1px 3px;
}
#block-user-0 .form-item label {
  display: none;
}
#block-user-0 .item-list {
  position: absolute;
  right: 0;
  top: 0;
}
#block-user-0 .item-list ul li{
  float: left;
  list-style-type: none;
  margin:0 0 0.25em 1em;
}
#block-user-0 .form-submit {
  background-color: #666;
  border: 1px solid #999;
  color: #fff;
}
/***********************************************************************
 * Header > Your Room area
***********************************************************************/
#your-room {
  left: 660px;
  position: absolute;
  top: 0.5em;
}
#your-room-box-down {
  background: url(images/your-room-box-down.png) no-repeat center bottom;
  left: 645px;
  padding-bottom: 14px;
  position: absolute;
  top: 2em;
  width: 300px;
  font-size: 0.9em;
}


#your-room-box-up {
  background: url(images/your-room-box-up.png) no-repeat center top;
  padding-top: 12px;
  width: 300px;
}
#cart, #orders, #your-room-box-up #forum {
  float: left;
  text-align: center;
  width: 80px;
}
#cart img, #orders img, #your-room-box-up #forum img {
  margin-top: 2px;
}
#cart {
  margin-left: 18px;
}
#orders {

  margin-left: 10px;
}
#your-room-box-up #forum {

  margin-left: 10px;
}
p.room-up {
  font-size: 1.1em;
}
/***********************************************************************
 * Header > Top Menu area
***********************************************************************/
#top-menu-down {
  background: url(images/top-menu-down.png) no-repeat center bottom;
  padding-bottom: 9px;
  position: absolute;
  top: 9.8em;
  width: 100%;
}
#top-menu-up {
  background: url(images/top-menu-up.png) no-repeat center top;
  font-size: 1.2em;
  padding-top: 9px;
  position: relative;
}
#top-menu-up ul li{
  float: left;
}
#navigation ul li{
  border-right: 1px solid transparent;
  margin-right: 5px;
  padding-right: 5px;
}
#navigation ul li.last{
  border: 0;
}
#main-page, #navigation, #search, #help, #block-i18n {
  position: absolute;
}
#main-page {
  left: 30px;
}
#navigation {
  left: 210px;
}
#search {
  right: 180px;
  top: 0.45em;
}
/* Safari e il suo maledetto rendering dei font */  
@media screen and (-webkit-min-device-pixel-ratio:0)  {  
#searcbreadcrumb-insideh {
  top: 0.5em;
} 
}
#help {
  right: 120px;
}
#block-i18n {
  right: 28px;
  top: 0.5em;
}
#block-i18n h2 {
  display: none;
}
#block-i18n .form-item {
  margin-bottom: 0;
  margin-top: 0em;
  padding: 0;
  font-size: 0.8em;
  height: 10px;
}
/* specifications for search box */
#search h2, #search input, #search div, #search form {
  float: left;
  line-height: 1.2em;
}
#search h2, #search #edit-search-theme-form-keys {
  margin-right: 0.5em;
}
#search h2 {
  padding-top: 0.1em;
}
#search #edit-search-theme-form-keys {
  border: 1px solid #999;
  height: 1em;
}
.form-image {
 margin-top: 0.2em;
}
#search h2 {
  margin-top: 0.1em;
}
#search #edit-search-theme-form-keys {
  margin-top: 0.2em;
}

/***********************************************************************
 * Pages Summary area
***********************************************************************/
#summary .buttom {
  float: left;
  height: 155px;
  margin-top: 0;
  width: 135px;
}
#summary #one {
  margin-left: 510px;
}
#summary #two {
  margin-left: 13px;
}
#summary #three {
  margin-left: 13px;
}
#summary .buttom a {
  display: block;
  height: 155px;
  text-indent: -9999px;
  width: 135px;
}
#summary #one a:link, #summary #one a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -510px -0px;
  } 
#summary #one a:hover, #summary #one a:active {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -510px -155px;
  }
.buy-body #summary #one a:link, .buy-body #summary #one a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -510px -155px;
  }
#summary #two a:link, #summary #two a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -657px -0px;
  } 
#summary #two a:hover, #summary #two a:active {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -657px -155px;
  }
.care-body #summary #two a:link, .care-body #summary #two a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -657px -155px;
  } 
#summary #three a:link, #summary #three a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -806px -0px;
  } 
#summary #three a:hover, #summary #three a:active {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -806px -155px;
  }
.learn-body #summary #three a:link, .learn-body #summary #three a:visited {
  background: url(images/summary-page.jpg) no-repeat;
  background-position: -806px -155px;
  } 
  
/***********************************************************************
 * HOME Summary area
***********************************************************************/
#home #summary .buttom {
  height: 265px;
  margin-top: 5px;
  width: 210px;
}
#home #summary #one {
  margin-left: 300px;
}
#home #summary .buttom a {
  height: 185px;
  width: 210px;
}
#home #summary #one a:link, #home #summary #one a:visited {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -300px -5px;
  } 
#home #summary #one a:hover, #home  #summary #one a:active {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -300px -275px;
  }
#home #summary #two a:link, #home #summary #two a:visited {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -522px -5px;
  } 
#home #summary #two a:hover, #home #summary #two a:active {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -522px -275px;
  }
#home #summary #three a:link, #home #summary #three a:visited {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -746px -5px;
  } 
#home #summary #three a:hover, #home #summary #three a:active {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -746px -275px;
  }
#home #summary .intro {
  margin: -10px 5px 0 15px;
}
#home #summary .intro h2{
  text-indent: -9999px;
}

/***********************************************************************
 * Home Special offers box
***********************************************************************/
#home #offers-down {
  background: url(images/offers-home-down.png) no-repeat center bottom;
  padding-bottom: 16px;
  width: 300px;
}
#home #offers-up {
  background: url(images/offers-home-up.png) no-repeat center top;
  padding-top: 6px;
  width: 300px;
}
#home #offers-up h2 {
  margin-left: 10px;
  margin-bottom: 0.7em;
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.8em;
}
#home #offers-up img {
  margin-bottom: 1em;
}
#home #offers-up p {
  margin-bottom: 15px;
}
#home #offers-up p.total-price {
  margin-bottom: 2px;
}
#home #offers-up .offers-cart {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  height: 26px;
  width: 130px;
}
#home #offers-up .cart-image {
  float: left;
  line-height: 26px;
}
#home #offers-up .cart-buy {
  float: right;
  line-height: 26px;
}
#home #offers-up .cart-buy form {
  padding-top: 0;
}
#home #offers-up .form-text {
  border: 1px solid #999;
  font-size: 1em;
  text-align: center;
  width: 26px;
}
#home #offers-up .form-submit {
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: bold; 
  text-align: center;
}
#home .offers-item-1 {
  float: left;
  margin-left: 11px;
  width: 130px;
  text-align: center;
}
#home .offers-item-2 {
  float: left;
  margin-left: 15px;
  width: 130px;
  text-align: center;
}
.offers-cart, p.total-price {
  font-size: 1.0em;
  text-align: left;
}
.offers-cart {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
}
.sp-spacer {
  height: 100px;
}
/***********************************************************************
 * HOME content
***********************************************************************/
#home #wrapper {
  background: url(images/wrapper-bgk.jpg) no-repeat;
  background-position: 280px 10px;
}
#home #node-11, #block-user-1 {
  display: none;
}
#home #content, #home #right_content {
  margin-top: 2px;
}
#home #right_content {
  margin-top: 0px;
}
/***********************************************************************
 * Products elements
***********************************************************************/
.problem-1 {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
}
#doctor-1 h2 {
  padding-top:0.5em;
}
#doctor-1 form, #right-doctor form {
  background: url(images/skype.jpg) no-repeat;
  background-position: 120px 3.7em;
  margin-top: 1em;
  padding-bottom: 22px;
}
#right-doctor form {
  margin-left: 6px;
  background-position: 107px 3.7em;
}
#right-doctor form {
  padding-bottom: 26px;
}
#doctor-1 label, #right-doctor label {
  border-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
#doctor-1 #campo, #right-doctor #campo{
  border: 1px solid #d2d2d2;
  width: 165px; 
}
#right-doctor #campo{
  border: 1px solid #d2d2d2;
  width: 150px; 
}
#doctor-2 img {
  padding-top: 4em;
}
/***********************************************************************
 *  content
***********************************************************************/
#content-wrapper{
  padding: 0 25px 20px 25px;
}
#home #content-wrapper{
  padding: 0;
}
#content h2.title{
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}
#content .field-field-disturbo .field-label {
  font-size: 1.2em;
  font-weight: bold;
}
/* problems and solutions*/

/***********************************************************************
 * Products elements
***********************************************************************/
.product-item { 
  width: 430px;
}
.pruduct-item-image {
  float: left;
  margin-right: 15px;
  padding-top: 8px;
  width: 200px;
  text-align: center;
}
#products-list .pruduct-item-image {
  float: left;
  margin-right: 20px;
  margin-left: 15px;
  padding-top: 8px;
  width: 100px;
  text-align: center;
}
.product-item-desc {
  padding-top: 10px;
}
#product-item-cart-down {
  background: url(images/cart-down.png) no-repeat bottom left;
  padding-bottom: 10px;
  margin-bottom: 2em;
}
#product-item-cart-up {
  background: url(images/cart-up.png) no-repeat top left;
  height: 2.7em;
  position: relative;
  padding-top: 2px;
}
#product-item-cart-up .cart-image {
  height: 24px;
  width: 24px;
  position: absolute;
  left: 15px;
  top: 0.5em;
}
#product-item-cart-up .price {
  position: absolute;
  left: 44px;
  top: 0.5em;
}
#product-item-cart-up .buy-link {
  position: absolute;
  right: 10px;
  top: 0.7em;
}
.cart-image, .cart-buy {
  float: left;
}
.buy-link label {
  padding-right: 6px;
}
#product-item-cart-up #edit-qty {
  border: 1px solid #999;
  text-align: center;
  width: 26px;
}
#product-item-cart-up .form-submit  {
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: bold; 
  text-align: center;
  cursor: pointer;
}
/***********************************************************************
 * LEFT content
***********************************************************************/
#left_content {
  background: url(images/bottom-gray.png) no-repeat bottom left;
  margin-top: -1px;
  padding-bottom: 30px;
}
#left-content-wrapper {
  background: url(images/base-gray.png) repeat-y;
}
.buy-body #left_content {
  background: url(images/bottom-green.png) no-repeat bottom left;
}
.buy-body #left-content-wrapper {
  background: url(images/base-green.png) repeat-y;
}
.care-body #left_content {
  background: url(images/bottom-yellow.png) no-repeat bottom left;
}
.care-body #left-content-wrapper {
  background: url(images/base-yellow.png) repeat-y;
}
.learn-body #left_content {
  background: url(images/bottom-blue.png) no-repeat bottom left;
}
.learn-body #left-content-wrapper {
  background: url(images/base-blue.png) repeat-y;
}
.forum-body #left_content {
  background: url(images/bottom-orange.png) no-repeat bottom left;
}
.forum-body #left-content-wrapper {
  background: url(images/base-orange.png) repeat-y;
}
#home #left_content {
  background: url(images/) no-repeat bottom left;
}
#home #left-content-wrapper {
  background: url(images/) repeat-y;
}
.blocco_ricerca, .blocco_your_room, .blocco_try_also {
  padding: 0 2em;
  padding-top: 2em;
}
.blocco_ricerca h2, .blocco_your_room h2, .blocco_try_also h2{
  background-position: 0 0;
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.4em;
  line-height: 19px;
  margin-left: -1em;
  padding: 0 2em 0 1em;
  font-weight: normal;
}
.blocco_your_room h2, .blocco_try_also h2{
  margin-bottom: 10px;
}
.blocco_try_also h2 {
  border-top: 1px solid #999;
  padding-top: 10px;
}
.care-body .blocco_try_also h2 {
  border-top: 1px solid #EBC33D;
}
.buy-body .blocco_try_also h2 {
  border-top: 1px solid #BEF55C;
}
.learn-body .blocco_try_also h2 {
  border-top: 1px solid #1377CC;
}
.blocco_ricerca label {
  margin-bottom: 4px;
  font-size: 1.1em;
}
.blocco_ricerca h2, .blocco_your_room h2 {
  background: url(images/gray-arrow.jpg) no-repeat center left;
}
.care-body .blocco_ricerca h2, .care-body .blocco_your_room h2 {
  background: url(images/yellow-arrow.jpg) no-repeat center left;
}
.buy-body .blocco_ricerca h2, .buy-body .blocco_your_room h2 {
  background: url(images/green-arrow.png) no-repeat center left;
}
.learn-body .blocco_ricerca h2, .learn-body .blocco_your_room h2 {
  background: url(images/blue-arrow.jpg) no-repeat center left;
}
.forum-body .blocco_ricerca h2, .forum-body .blocco_your_room h2 {
  background: url(images/orange-arrow.jpg) no-repeat center left;
}
/***********************************************************************
 * RIGHT content
***********************************************************************/
#right_content p{
  font-size: 1.2em;  
}
#home #edutainement {
  padding: 0 20px;
}
#home #edutainement h2{
  margin-bottom: 0.9em;
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.6em;
}
#home #edutainement p {
  margin-left: 0.5em;
  margin-bottom: 0.9em;
  font-size: 1.2em;
  width: 160px;
}
#home #edutainement img{
  margin-bottom: 1.4em;
}
#right-doctor, #right-edutainement {
  margin-bottom: 2em;
}
#right-doctor h2, #right-edutainement h2 {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.2em;
  padding-left: 12px;
}
#right-doctor h2 {
  background: url(images/yellow-arrow.jpg) no-repeat center left;
}
#right-edutainement h2 {
  background: url(images/blue-arrow.jpg) no-repeat center left;
}
#right-doctor p, #right-edutainement p {
  font-size: 1.2em;
  margin-top: 0.8em;
  padding-left: 6px;
  padding-right: 10px;
}
#right-doctor .wrapper, #right-edutainement .wrapper {
 padding-left: 55px;
}
#right-edutainement{
  background: url(images/learn-mini.png) no-repeat top left;
}
#right-doctor {
  background: url(images/the-doctor-mini.png) no-repeat top left;
}
/***********************************************************************
 * Footer
***********************************************************************/
#footer-down {
  background: url(images/footer-down.png) no-repeat center bottom;
  padding-bottom: 9px;
  width: 100%;
}
#footer-up {
  background: url(images/footer-up.png) no-repeat center top;
  padding-top: 9px;
  width: 100%;
}
#footer ul{
  margin-left: 15px;
}
#footer ul li{
  float: left;
}
#footer ul li{
  border-right: 1px solid #333;
  margin-right: 5px;
  padding-right: 5px;
}
#footer ul li.last{
  border: 0;
}

/***********************************************************************
 * Classes for grid system
***********************************************************************/
.line-440 {
  width: 440px;
  margin-bottom: 2em;
}
#home .line-440 {
  margin-left: -6px;
}
.col-200 {
  width: 200px;
}
#home  .col-200 {
  width: 196px;
}
#home #doctor-1 {
  margin-right: 7px;
}
#home .problem-1 {
  margin-right: 24px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ml-20 {
  margin-left: 20px;
}
.ml-16 {
  margin-left: 16px;
}
/***********************************************************************
 * Drupal Breadcrumb
***********************************************************************/
.breadcrumb {
  background: url(images/gray-line-2.png) no-repeat bottom right;
  margin-left: -30px;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding-bottom: 4px !important;
}
#breadcrumb-inside {
  background: url(images/gray-line-2.png) no-repeat top right;
  font-size: 12px;
  line-height: 22px;
  padding-bottom: 0 !important;
  padding-top: 4px !important;
  padding-left: 35px !important;
}
.care-body .breadcrumb {
  background: url(images/yellow-line-2.png) no-repeat bottom right;
}
.care-body #breadcrumb-inside {
  background: url(images/yellow-line-2.png) no-repeat top right;
}
.buy-body .breadcrumb {
  background: url(images/green-line-2.png) no-repeat bottom right;
}
.buy-body #breadcrumb-inside {
  background: url(images/green-line-2.png) no-repeat top right;
}
.learn-body .breadcrumb {
  background: url(images/blue-line-2.png) no-repeat bottom right;
}
.learn-body #breadcrumb-inside {
  background: url(images/blue-line-2.png) no-repeat top right;
}
.forum-body .breadcrumb {
  background: url(images/orange-line.png) no-repeat bottom right;
}
.forum-body #breadcrumb-inside {
  background: url(images/orange-line.png) no-repeat top right;
  color: #fff;
}
#home .breadcrumb {
  display: none;
}
/***********************************************************************
 * Drupal Admin Menu
***********************************************************************/
#block-user-1 {
  margin-left: 15px;
}
#home #content-wrapper .tabs{
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 0;
  font-size: 1.1em;
}
#content-wrapper .tabs{
  margin-bottom: 2em;
  margin-top: 0em;
}
#home #content-wrapper ul.primary{
  border-bottom: 0;
}
#node-form {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
#node-form label {
  font-size: 1.025em;
  margin-bottom: 0.2em;
  padding-top: 0.3em;
}

/* Safari */  
@media screen and (-webkit-min-device-pixel-ratio:0)  {  
  #home #content-wrapper .tabs{ margin-top: -1.4em; } 
} 

/*unlogged*/
#unlogged_cart {
  position:absolute;
  right: 170px;
  top: 3.4em;
}
#unlogged_cart p {
  padding-left: 24px;
  line-height: 24px;
}
#unlogged_cart a {
  display: block;
  float: left;
  background: url(images/cart-2.png) no-repeat center left;
  text-indent: 24px;
  line-height: 24px;
}
