fieldset.lightbox2_thumbnail_fieldset div.form-item {
  float:left;
  margin-right:20px;
}

fieldset.lightbox2_thumbnail_fieldset fieldset.lightbox2_margin_fieldset div.form-item {
  float:left;
  margin-right:20px;
}

fieldset.lightbox2_thumbnail_fieldset fieldset div.form-item {
  float:none;
}