/***********************************************************************
 * IE6.CSS
 * by blueshome, alessandro[@]mikamai.com
 *
 * Internet Explorer 6 corrections
***********************************************************************/

/***********************************************************************
 * Header > Logo
***********************************************************************/
#logo {
  background: url(images/ayjoy.gif) no-repeat center bottom;
  }
#your-room-box-down {
  background: url(images/your-room-ie-down.gif) no-repeat center bottom;
  padding-bottom: 8px;
  top: 2.4em;
}
#your-room-box-up {
  background: url(images/your-room-ie-up.gif) no-repeat center top;
  padding-top: 8px;
}
#cart, #orders, #your-room-box-up #forum {
  display: inline;
}
#top-menu-down {
  background: url(images/top-menu-ie-down.gif) no-repeat center bottom;
  padding-bottom: 6px;
  position: absolute;
  top: 9.8em;
  width: 100%;
}
#top-menu-up {
  background: url(images/top-menu-ie-up.gif) no-repeat center top;
  font-size: 1.2em;
  padding-top: 6px;
  position: relative;
}
#summary .buttom {
  float: left;
  height: 155px;
  margin-top: 0;
  width: 135px;
  display: inline;
}
#block-i18n {
  left: 860px;
  top: 0.3em;
}
#home #summary #two a:hover, #home #summary #two a:active {
  background: url(images/summary-home.jpg) no-repeat;
  background-position: -522px -275px;
  }
#home #offers-down {
  background: url(images/offers-home-down-ie.png) no-repeat center bottom;
  padding-bottom: 16px;
  width: 300px;
}
#home #offers-up {
  background: url(images/offers-home-up-ie.png) no-repeat center top;
  padding-top: 6px;
  width: 300px;
}
#home #offers-item-1, #home #offers-item-2 {
  display: inline;
}
#home #offers-up .cart-image {
  float: left;
  line-height: 0px;
}
#home #offers-up .cart-buy {
  float: right;
  line-height: 0px;
}
#home #offers-up img {
  margin-bottom: 0.4em;
}
#home #doctor-1, #home #doctor-2, #home .problem-1, #home .problem-2 {
  display: inline;
}
#left_content {
  background: url(images/bottom-gray-ie.png) no-repeat bottom left;
}
#left-content-wrapper {
  background: url(images/base-gray-ie.png) repeat-y;
}
.buy-body #left_content {
  background: url(images/bottom-green-ie.png) no-repeat bottom left;
}
.buy-body #left-content-wrapper {
  background: url(images/base-green-ie.png) repeat-y;
}
.care-body #left_content {
  background: url(images/bottom-yellow-ie.png) no-repeat bottom left;
}
.care-body #left-content-wrapper {
  background: url(images/base-yellow-ie.png) repeat-y;
}
.learn-body #left_content {
  background: url(images/bottom-blue-ie.png) no-repeat bottom left;
}
.learn-body #left-content-wrapper {
  background: url(images/base-blue-ie.png) repeat-y;
}
.forum-body #left_content {
  background: url(images/bottom-orange-ie.png) no-repeat bottom left;
}
.forum-body #left-content-wrapper {
  background: url(images/base-orange-ie.png) repeat-y;
}
#home #left_content {
  background: url(images/) no-repeat bottom left;
}
#home #left-content-wrapper {
  background: url(images/) repeat-y;
}
#footer-down {
  background: url(images/footer-down-ie.png) no-repeat center bottom;
  padding-bottom: 9px;
  width: 100%;
}
#footer-up {
  background: url(images/footer-up-ie.png) no-repeat center top;
  padding-top: 9px;
  width: 100%;
}


.ul.primary li a {
  background-color: transparent !important;
  border-color:transparent !important;
  border: 0 !important;
  height:auto !important;
  margin-right:0.3em !important;
  padding:0 0.3em !important;
  text-decoration:none !important;
}
