/***********************************************************************
 * IE7.CSS
 * by blueshome, alessandro[@]mikamai.com
 *
 * Internet Explorer 7 corrections
***********************************************************************/

/***********************************************************************
 * Header > Logo
***********************************************************************/
#search h2{
  padding-top: 0.2em;
}
#search form #edit-search-theme-form-keys {
  margin-top: 0.2em;
}
#search .form-image {
  padding-top: 0.2em;
}
#home #offers-up #edit-qty {
  margin-top: -1.8em;
}
#search {
  right: 180px;
  top: 0.6em;
}
#help {
  right: 110px;
  top: 0.6em;
}
#help h2{
  padding-top: 0.2em;
}
#block-i18n {
  right: 30px;
  top: 0.6em;
}
.product-item {
  margin-bottom: 2em;
}
#product-item-cart-up .price {
  top: 0.6em;
}
#product-item-cart-up .buy-link {
  top: 0.5em;
}
#product-item-cart-up #edit-qty {
  margin-top: -0.2em;
}
#product-item-cart-up .buy-link {
  line-height: 24px;
}
#right-doctor #campo {
  border:1px solid #D2D2D2;
  width:135px;
}
