/***********************************************************************
 *  Reset section - deployed on Eric Mayer "reset reloaded css"
 *  Credit  to original author
 *  http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 ***********************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-family: inherit;
  font-size: 101%;
  font-style: inherit;
  font-weight: inherit;  
  vertical-align: baseline;
}

/* Safari e il suo maledetto rendering dei font */  
@media screen and (-webkit-min-device-pixel-ratio:0)  {  
 body { text-shadow: #000000 0 0 0px; }  
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: white;
  color: black;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
/* not sure this blockquote declarations are realy neccessary*/
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
