/*
 * STYLE.CSS
 * by blueshome, alessandro[@]mikamai.com
 * fonts - colors and others style elements
 */

/*
 * Html tags
 */
body{
 /* color:#7C7C7C;*/
 color:#4a4a4a;
  font:normal normal normal 63.5%/1.25 Arial,Helvetica,'Nimbus Sans L',sans-serif;
  }
a:link, a:visited{
  color:#333;
  text-decoration:none;
  } 
a:hover, a:active{
  text-decoration:underline;
  }
h2{
  color:#000;
  font-weight:normal;
}
strong{
  font-weight:bold;
}

/*Classes*/

/*Header*/
#header {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
}
#your-room{
  font-size: 1.4em;
}
#cart, #orders, #your-room-box-up #forum {
  line-height: 9px;
}
#cart {
  /*font-size: 0.9em;*/
}
#home #main-page a:link, #home #main-page a:visited {
  color: #999;
  } 
#help li {
  background: url(images/help.png) no-repeat left center;
  padding-left: 18px;
}

/*Intro*/
.intro h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.intro p {
  color: #4A4A4A;
  font-size: 12px;
}
#doctor-1 h2, #block-views-block_homepage_problems h2  {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.6em;
  margin-bottom: 1em;
}
#block-views-block_homepage_problems h2  {
  margin-left: 14px;
}
#content p {
  color: #4A4A4A;
  font-size: 1.2em;
}
#content p.date {
  font-style: italic;
  font-size: 1.1em;
}
#home #content h3 {
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: bold;
}
#left_content .total-price {
  font-weight: bold;
}
#content-wrapper .field-type-ttext,  #content-wrapper .field-type-text{
  margin-bottom:1.8em;
}
#content-wrapper .field-label {
  margin-bottom:0.2em;
  font-size: 1.4em;
  color: #333;
}
.learn-body #content-wrapper .item-list, .care-body #content-wrapper .item-list  {
  margin-left: 15px;
  margin-bottom: 2em;
  font-size: 1.2em;
  color: #333;
}
.learn-body .breadcrumb{
  color:#d2d2d2;
  } 
.care-body .breadcrumb{
  color:#666;
  }
.learn-body .breadcrumb a:link, .learn-body .breadcrumb a:visited,
.care-body .breadcrumb a:link, .care-body .breadcrumb a:visited{
  color:#fff;
  text-decoration:none;
  } 
.learn-body .breadcrumb a:hover, .learn-body .breadcrumb a:active,
.care-body .breadcrumb a:hover, .care-body .breadcrumb a:active{
  text-decoration:underline;
  }

/*Select box on left_content*/
.selectbox {
  background:#fff url(images/dropdown.gif) no-repeat scroll right center;
  border:1px solid #bbb;
  display:inline;
  padding:2px 0px 2px 0;
  width:188px;
}
.selectbox-wrapper{
  background:#fff none repeat scroll 0 0;
  border:1px solid #b2b2b2;
  margin-top:-1px;
  overflow:auto;
  width:167px;
}
/* Safari e il suo maledetto rendering dei font */  
@media screen and (-webkit-min-device-pixel-ratio:0)  {  
.selectbox-wrapper{
  width:188px;
}
}
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  font-size: 1.2em;
}
div.selectbox-wrapper ul li.selected {
  background-color: #ccc;
}
div.selectbox-wrapper ul li.current {
  background-color: #666;
  color: #fff;
}
.learn-body div.selectbox-wrapper ul li.current {
  background-color: #1277CA;
  color: #fff;
}
.care-body div.selectbox-wrapper ul li.current {
  background-color: #EDC43D;
  color: #fff;
}
.buy-body div.selectbox-wrapper ul li.current {
  background-color: #C2F161;
  color: #333;
}
.forum-body div.selectbox-wrapper ul li.current {
  background-color: #ee6c3d;
  color: #fff;
}
div.selectbox-wrapper ul li {
  cursor:pointer;
  display:block;
  list-style-type:none;
  margin:0;
  padding:2px;
}

/* prodotti */
#products-list {
  padding-top: 1.5em;
}
.product-item {
  margin-bottom: 3em;
}
.product-item h3 {
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.6em;
  color: #333;
  margin-bottom: 0.5em;
  font-weight: normal;
}
#products-single .product-item h3 {
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.9em;
  color: #333;
  margin-bottom: 0.6em;
  margin-left: 15px;
  font-weight: normal;
}
#products-list .product-item-desc-2 p, #products-list .product-item p {
  margin-left: 135px;
  margin-right: 10px;
}
#products-single  p {
  margin-left: 15px;
  margin-right: 10px;
}
.more {
  padding-top: 0.4em;
  font-style: italic;
}
#products-single .field-label {
  margin-left: 15px;
  padding-top: 1.5em;
  font-weight:bold;
  color: #333;
}
.more a:link, .more a:visited,
.terms a:link, .terms a:visited {
  text-decoration:underline;
} 
.more a:hover, .more a:active,
.terms a:hover, .terms a:active {
  color: #ccc;
  text-decoration:none;
}
.terms {
  font-size: 1.2em;
}
.care-body .field-items, .learn-body .field-items  {
  margin-bottom: 0.8em;
}
#product-item-cart-up p.price {
  font-size: 12px; 
  margin: 0;
}
#product-item-cart-up p.price span, #product-item-cart-up li.price span {
  position: relative
  top: 0;
  left: 0;
}
td.category strong {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  display: block;
  padding: 0 5px 5px 5px;
}
/* cart */
#cart-form-products, #cart-form-buttons {
  margin-left: -3px !important;
  font-size: 1.2em;
}
#cart-form-products thead, td.subtotal{
  background-color: #F1F1F1;
}
#cart-form-products thead th {
  border-bottom: 0;
}
#cart-form-products thead {
  border-bottom: 1px solid #ccc;
}
#cart-form-products .form-text {
  border: 1px solid #999;
  width: 35px;
}
tr.even, tr.odd {
  background-color: #fff;
}
td.desc, td.image, td.qty, td.remove, td.price, td.subtotal {
  padding: 15px 4px;
  vertical-align: middle;
}
td.subtotal {
  border-top: 1px solid #ccc;
  color:red;
}
td.subtotal strong {
    color: #333;
}
td.image, td.remove, td.qty, #cart-form-products table th{
  text-align: center;
}
th {
  padding: 4px 4px;
  font-weight: bold;
}
#continue-shopping-link a {
  color: red;
  font-size: 1.1em;
  line-height: 1.6em;
}
/*checkout*/
#uc-cart-checkout-form #cart-pane legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
#uc-cart-checkout-form .cart-review, #customer-pane, #uc-cart-checkout-form fieldset, #uc-cart-checkout-form .description {
  margin-bottom: 1.5em;
}
#uc-cart-checkout-form legend, #uc-cart-checkout-form .description, #uc-cart-checkout-form fieldset b {
  font-size: 1.4em;
}
.cart-review td.subtotal{
  font-size: 1.2em;
  color: red;
}
.cart-review td.subtotal span{
  color: #333;
}
#uc-cart-checkout-form legend a {
  color: red;
}
.order-review-table {
  font-size: 1.2em !important;
  margin-top: 2em !important;
  width: 100%  !important;
}
.order-review-table td{
  padding: 4px !important;uc-cart-checkout-review-form
}

/*you-care*/
.field-field-piante-utili, .field-field-disturbo {
  padding-top: 1em;
}
.field-field-piante-utili .field-items {
  font-size: 1.2em;
}
.care-body #content h2  {
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.2em;
  font-weight: normal;
}
.care-body #content .node {
  margin-bottom: 3em;
}
.care-body #content .terms {
  margin-left: -0.5em;
}
.care-body #content-wrapper .field-type-ttext, .care-body  #content-wrapper .field-type-text{
  margin-bottom: 0;
}

/*search page*/
#content-wrapper #search-form {
  font-size: 1.2em;
}
#content-wrapper h2.search-title{
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
.search-results dt.title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0.2em;
}
.search-results dd{
  margin-bottom: 2.5em;
}
.search-results .search-info {
  padding-top: 0.2em;
  font-style: italic;
  color: #333;
  display: none;
}
.search_table thead th {
  border: 0 !important;
  color: #999;
  padding: 1em 0;
  font-size: 1.3em !important;
}
.search_table td {
  padding: 0.8em 0;
  vertical-align: top;
}
.search_table p.name {
  font-size: 1.3em !important;
  font-weight: bold;
  margin-bottom: 0.1em;
}
.search_table p.category {
  font-style: italic;
  margin-bottom: 0.2em;
}
.search_table p.category, .search_table p.name, .search_table p.teaser {
  padding: 0 2em 0 1em;
}
.search_table p.name {
  padding-top: 6px;
}
/*user*/
.user-body #content h2{
  margin-bottom: 0.5em;
}
.user-body #content dl{
  font-size: 1.2em;
  margin-bottom: 2em;
}
.user-body #content table{
  width: 100%; 
  font-size: 1.2em;
  border: 1px solid #ccc;
}
.user-body #content table thead {
  background-color:#F1F1F1;
  color: #333;
}
.user-body #content table th, .user-body #content table td{
  padding: 8px 5px;
}
.user-body #content tr {
  border-bottom: 1px solid #f2f2f2;
}
.user-body #content table .active {
  background-color:#f2f2f2;
  color: #333;
}
.user-body .order-pane a {
  font-size: 1.2em;
}
#user-edit,  #user-register-i18n, #user-register-i18n-pass, #comment-form {
  font-size: 1.2em;
}
#user-edit legend, #user-edit legend a {
  color: red;
}
#user-edit legend {
  font-weight: bold;
  margin-bottom: 0.5em;
}
#user-edit .description {
  margin-bottom: 1.5em;
}
#contact-mail-user {
  font-size: 1.2em;
}
.user-body label {
  margin-bottom: 0.2em;
  color: #333;
}
.user-body .description {
  padding-top: 0.2em;
  font-size: 0.9em;
}
/*Forum */
#content #forum table{
  width: 100%; 
  font-size: 1.2em;
  border: 1px solid #ccc;
}
#content #forum table thead{
  background-color:#F1F1F1;
  color: #333;
}
#content #forum table .active {
  background-color:#f2f2f2;
  color: #333;
}
#content #forum table tr.even{
  background-color:#f2f2f2;
}
#content #forum table th, #content #forum table td{
  padding: 8px 4px;
}
#content #forum table td{
  padding: 12px 4px;
}
#content #forum ul a{
  font-size: 1.2em;
}
#content #forum ul{
  margin-bottom: 0.5em;
}

/* tabella prodotti all */
.view-content-products table {
  width: 100%; 
  font-size: 1.2em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}
.view-content-products table thead {
  background-color:#F1F1F1;
  color: #333;
}
.view-content-products table thead th {
  border-bottom: 0;
}
.view-content-products table thead {
  border-bottom: 1px solid #ccc;
}
.view-content-products table th{
  padding: 4px 2px;
}
.view-content-products table td{
  padding: 12px 2px;
}
.view-content-products  table td{
  vertical-align: middle;
}
.view-content-products  table td.view-field-node-data-field-image-cache-field-image-cache-fid,
.view-content-products  table th.view-field-node-data-field-image-cache-field-image-cache-fid{
  text-align: center;
}
.view-content-products table td.view-field-node-title{
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.1em;
}
.pager {
  font-size: 1.2em;
}

.head-claim {
  display: none;
}
.blocco_try_also p.product_title {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
.blocco_try_also p{
  font-size: 1.2em;
}

h2.class-head {
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 1.9em !important;
  color: #333 !important;
  margin-bottom: 0.6em !important;
  margin-left: 15px !important;
  font-weight: normal !important;
}
p.p-claim {
  margin: 0 0 1.5em 15px;
  font-size: 1.4em !important;
}

/* registrazione */
#user-register legend, #user-register legend a, #user-password legend, #user-password  legend a{
  color: red;
}
#user-register legend, #user-password legend, #comment-form legend{
  font-weight: bold;
  margin-bottom: 0.5em;
}
#user-register .description, #user-password .description, #comment-form description {
  margin-bottom: 1.5em;
}
#user-register label, #user-password label, #comment-form label {
  margin-bottom: 0.2em;
  color: #333;
}
#user-register .description, #user-password .description {
  padding-top: 0.2em;
  font-size: 0.9em;
}
#user-register #unlogged_cart, #user-password #unlogged_cart {
  display: none;
  position:absolute;
  right:30px;
  top:2em;
}

/*campi form*/
#content #edit-name {
  width: 300px;
}
#edit-mail {
  width: 350px;
  margin-bottom: 8px;
}
#edit-profile-nome {
  width: 300px;
}
#edit-profile-cognome {
  width: 300px;
}
#edit-profile-codice-fiscale {
  width: 200px;
}
#edit-profile-azienda {
  width: 300px;
}
#edit-profile-piva {
  width: 120px;
}
#edit-profile-indirizzo {
  width: 350px;
}
#edit-profile-citta {
  width: 250px;
}
#edit-profile-cap {
  width: 70px;
}
#edit-profile-provincia {
  width: 150px;
}
#edit-profile-tel {
  width: 200px;
}
#edit-profile-fax {
  width: 200px;
}

.messages {
  background: url(images/ok.jpg) no-repeat  0 5px;
  border:0;
}
div.status  {
  color:green !important;
  font-size:1.3em;
  margin:10px 0 10px 0;
  padding: 10px 0 10px 35px;
}
#home div.status  {
  margin:10px 10px;
}
div.error {
  font-size:1.3em;
  margin:10px 0 10px 0;
  padding: 10px 0 10px 32px;
  color: red !important;
}
div.error, tr.error {
  /*background:#C52020 none repeat scroll 0 0;*/
  background: url(images/error.jpg) no-repeat 0 5px;
}

.profile dt {
  background: url(images/arrow-mini.jpg) no-repeat center right;
  float:left;
  margin:0  25px 0 0;
  padding-right: 19px;
  font-weight: normal;
}
.profile dd {
  margin:1em 0 1em 170px;
  font-weight: bold;
}
dd.uc_order-member {
  margin:1em 0 1em 0;
}
.profile a:link, .profile a:visited,
.description a:link, .description a:visited{
  color:red;
  text-decoration:none;
  } 
.profile a:hover, .profile a:active,
.description a:hover, .description a:active{
  text-decoration:underline;
  }
th.active img {
  display:inline;
  margin-left:3px !important;
}

ul.secondary {
  border-bottom:1px solid #BBBBBB;
  border-collapse:collapse;
  height:auto;
  line-height:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:5px;
padding:0 0 0.5em 1em;
  white-space:nowrap;
}
ul.secondary li {
  display:inline;
  border-right: 0;
  padding: 0;
}
ul.secondary li.active a {
  background-color:#FFFFFF;
  border-color:#BBBBBB #BBBBBB #FFFFFF;
  border-style:solid;
  border-width:1px;
}
ul.secondary li a {
  background-color:#DDDDDD;
  border-color:#BBBBBB;
  border-style:solid solid none;
  border-width:1px;
  height:auto;
  margin-right:0.5em;
  padding:0.6em 1em 0.5em;
  text-decoration:none;
}

#forum td {
  vertical-align: top;
}
#forum th {
  vertical-align: top;
}
#forum table {
  margin-bottom: 0;
}
.forum-post-panel-main {
  min-height: 0 !important;
}
.author-pane-last {
  margin-top:0px !important;
}
.forum-post-panel-sub {
  width:120px !important;
}
.forum-post-panel-main {
  margin-left:120px !important;
}
.forum-jump-links {
  width:110px !important;
}
.forum-post-links {
  margin-left:120px !important;
}
.post-info {
  background-color:#E2E2E2;
  border-bottom:1px solid #CCCCCC;
  font-size:1.3em !important;
  padding:5px 0 !important;
}
.author-pane .author-name {
  color:#333333 !important;
}
.author-pane-last {
  margin-top: 0px !important;
}
.forum-post {
  margin:0 0 2px !important;
  border:1px solid #CCCCCC !important;
}
.forum-post-panel-main .post-title, .forum-post-panel-main .content {
  padding:3px 10px 5px 10px !important;
}
.preview {
  border:1px solid #CCCCCC !important;
  padding:4px !important;
}
#comment-form #edit-preview {
  margin-bottom: 20px !important;
}
#forum-statistics {
  font-size: 1.2em !important;
  margin-bottom: 20px !important;
}
#comments h2{
  display: none;
}
#comment-form .preview {
  background-color: #fff !important;
  font-size: 0.8em;
  border:0 !important;
}
#content .content_problems_and_solutions ul li {
  list-style-type: none;
  list-style-image:url(images/mini-yellow.png);
}
#content .content_you_learn ul li {
  list-style-type: none;
  list-style-image:url(images/mini-blue.png);
}
#content #forum table thead {
  background-color:#e2e2e2  !important;
}
#content #forum table .active {
  background-color:#e2e2e2 !important;
}
.forum-icon {
  padding-top: 3px;
}
#forum #forum-0 td {
  vertical-align: middle !important;
}
#forum #forum-0 td.last-reply {
  width: auto !important;
}
#forum th {
  text-align: left  !important;
}
.forum-top-links {
    margin: 0 !important;
}
.care-body .pager-current {
  color: #E6B920;
}
.learn-body .pager-current {
  color: #1F62AF;
}
.pager a:link, .pager a:visited{
  color:#333;
  text-decoration:underline;
  } 
.pager a:hover, .pager a:active{
  text-decoration:none;
  }
.fieldset-wrapper p {
  font-size: 0.8em !important;
  margin-bottom: 20px;
}
.box {
  padding-top: 15px;
}
.box h2 {
  display: none;
}
.collapsible {
  margin-bottom: 15px;
}
#block-i18n {
  z-index: 1000;
}

.pager  {
  font-size: 1em;
  margin-bottom: 30px;
}
.care-body .pager a {
  border:solid 1px #9aafe5
  margin-right:2px;
}
.care-body .pager, .learn-body .pager  {
  margin-left: 15px;
  font-size: 1em;
  margin-bottom: 30px;
}
.pager .pager-last,
.pager .pager-next,
.pager .pager-first,
.pager .pager-previous {
  border:solid 1px #ccc;
  color:#ccc;
  display:block;
  float:left;
  font-weight:bold;
  margin-right:3px;
  padding:3px 4px;
}
#pagination-digg .next a,
#pagination-digg .previous a {
  font-weight:bold;
}
.pager .pager-current {
  background:#ccc;
  color:#333;
  font-weight:bold;
  display:block;
  float:left;
  padding:4px 6px !important;
  margin-right:3px;
}
.care-body .pager .pager-current {
  background:#edc43d;
  color:#FFFFFF;
}
.buy-body .pager .pager-current {
  background:#C2F161;
  color:#333;
}
.learn-body .pager .pager-current {
  background:#2e6ab1;
  color:#FFFFFF;
}
.forum-body .pager .pager-current {
  background:#EE6C3D;
  color:#FFFFFF;
}
.pager  a:link,
.pager  a:visited {
  color:#666;
  display:block;
  float:left;
  padding:3px 4px;
  text-decoration:none;
}
.pager  a:hover{
  border:solid 1px #666;
  color: #666;
}
.search_table {
  margin-bottom: 20px;
 }
#forum .pager, #forum-comments .pager {
  float:none !important;
}
.posted-on {
  margin-left:5px !important;
}
#offers-up p.claim {
 text-align: left;
 color: #4A4A4A;
 font-size: 12px;
}
