/* Safari spec. */  
@media screen and (-webkit-min-device-pixel-ratio:0)  {  
  #product-item-cart-up .price {
    top: 0.6em;
  }
  #product-item-cart-up .buy-link {
    top: 0.6em;
  }
  #search h2 {padding-top: 0.2em;}
  #help h2 {padding-top: 0.2em;}
  #search #edit-search-theme-form-keys {height: 1.1em;margin-top: 0.3em;}
  .form-image {margin-top: 0.4em;}
  #continue-shopping-link a {
    line-height: 1.2em;
  }
}
